@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_utils\.scss}line{font-family:\000031}}
.u-hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_utils\.scss}line{font-family:\000035}}
.u-group:after, .WhatWeDo:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Centers the content inside a parent container width
 * The parent container must have position: relative.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_utils\.scss}line{font-family:\0000315}}
.u-centerVertically {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\000031}}
html {
  box-sizing: border-box;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\000036}}
body {
  background: #f3f6fa;
  color: #7c8081;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
  margin: 0;
  font-size: 13pt;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000318}}
*, *:before, *:after {
  box-sizing: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000322}}
a {
  text-decoration: none;
  border-bottom: dotted 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000326}}
a:hover {
  border-bottom-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000331}}
strong, b {
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000335}}
p, ul, ol, dl, table, blockquote {
  margin: 0 0 2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000339}}
ul {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000343}}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000350}}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000357}}
h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000362}}
h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000367}}
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000373}}
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000379}}
hr {
  border-top: solid 1px rgba(124, 128, 129, 0.2);
  border: 0;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000385}}
blockquote {
  border-left: solid 0.5em rgba(124, 128, 129, 0.2);
  font-style: italic;
  padding: 1em 0 1em 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000391}}
.special {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\0000397}}
footer > :last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/init\/_base\.scss}line{font-family:\00003101}}
footer.major {
  padding-top: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\000031}}
.header {
  background: transparent;
  color: #222;
  color: white;
  font-size: 13px;
  left: 0;
  height: 50px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .3s ease;
  z-index: 10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000315}}
.header .logo {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 60px;
  height: 60px;
  margin: 0;
  text-align: center;
  text-transform: none;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000328}}
.header nav {
  display: none;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  float: right;
  height: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000336}}
.header nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000342}}
.header nav ul li {
  display: block;
  margin: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000347}}
.header nav ul li a {
  border: solid 1px transparent;
  color: inherit;
  display: inline-block;
  line-height: 1em;
  padding: 0.6em 0.75em;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000360}}
.header.is-scrolled {
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.175);
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000365}}
.header.is-scrolled .change-language-button {
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000372}}
.change-language-button {
  background: none;
  border: 0;
  border-radius: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  top: 2px;
  transition: all .3s ease;
  position: relative;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000386}}
.change-language-button span {
  margin-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000392}}
.page-link.active, .page-link:hover {
  background: rgba(188, 202, 206, 0.35);
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\0000398}}
.page-link.current {
  font-weight: 700;
}

@media screen and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\00003106}}
  .header {
    font-size: 0.8em;
    height: 80px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\00003110}}
  .header .logo {
    background: white;
    color: black;
    display: inline;
    float: left;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    height: 50px;
    position: relative;
    top: 13px;
    padding: 0 14px;
    margin: 0;
    text-transform: none;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\00003128}}
  .header nav {
    display: block;
    line-height: 80px;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\00003135}}
  .header nav ul li {
    margin-left: 10px;
    display: inline;
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\00003144}}
  .change-language-button {
    margin-left: 5px;
    top: 0;
  }
}
@media screen and (min-width: 840px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_header\.scss}line{font-family:\00003151}}
  .change-language-button {
    margin-left: 20px;
  }
}
/* Main */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\000033}}
.wrap {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000310}}
#main {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000313}}
#main > :last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000318}}
#main .sidebar section {
  border-top: solid 1px rgba(124, 128, 129, 0.2);
  margin: 3em 0 0 0;
  padding: 3em 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000323}}
#main .sidebar section:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000332}}
header.special {
  margin-bottom: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media screen and (min-width: 740px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000339}}
  #main {
    padding-bottom: 3em;
  }
}
@media screen and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000346}}
  #main {
    padding-bottom: 3.5em;
  }
}
@media screen and (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_main\.scss}line{font-family:\0000355}}
  #main {
    background-size: 20em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\000031}}
.container--box {
  background: none;
}

@media screen and (min-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\000036}}
  .container--box {
    background: white;
    padding: 1.25em 1.5em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000312}}
.container, .container--box, .JobTypes {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 0;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 1.25em;
  text-align: center;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000325}}
.container--box {
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000330}}
.Tagline {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000334}}
.Region-headline {
  margin-top: 0;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  font-size: .9em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: none;
}

@media screen and (min-width: 740px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000347}}
  .container, .container--box, .JobTypes {
    width: 95%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000352}}
  .container--box {
    padding: 4em 3em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_container\.scss}line{font-family:\0000356}}
  .Region-headline {
    font-size: 1.25em;
    margin-bottom: 45px;
    text-transform: uppercase;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\000031}}
.hero {
  background-image: radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(-8deg, #26d0ce, #1a2980 90%);
  color: white;
  padding: 52px 10px 200px 10px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\000037}}
.hero h2 {
  font-size: 26px;
  letter-spacing: 0;
  line-height: 1.4;
  margin-bottom: 18px;
  text-transform: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000316}}
.hero img {
  bottom: -220px;
  margin-left: 50%;
  left: -100px;
  position: absolute;
  width: 230px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000325}}
.description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.5;
  max-width: 530px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000333}}
.HomeVisits {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000339}}
.HomeVisits p {
  font-size: 14px;
  margin: 0 auto;
  padding: 10px 5px 14px 5px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000346}}
.HomeVisits .icon {
  display: block;
  height: 40px;
  margin: 0 auto 5px auto;
  width: 40px;
}

@media screen and (min-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000355}}
  .hero {
    padding: 260px 1.5em;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000359}}
  .hero h2 {
    font-size: 30px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000363}}
  .hero .description {
    font-size: 19px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000367}}
  .hero img {
    bottom: auto;
    left: auto;
    right: -15px;
    top: -170px;
    width: 530px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000376}}
  .HomeVisits {
    height: 52px;
    margin-bottom: 80px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000380}}
  .HomeVisits .icon {
    position: absolute;
    left: 0;
    top: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_hero\.scss}line{font-family:\0000386}}
  .HomeVisits p {
    font-size: 16px;
    line-height: 52px;
    padding: 0;
    width: 850px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_services\.scss}line{font-family:\000031}}
.services {
  color: #444;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_services\.scss}line{font-family:\000035}}
.services h2 {
  font-size: 1em;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (min-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_services\.scss}line{font-family:\0000313}}
  .services {
    background: white;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.8);
    padding: 50px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_services\.scss}line{font-family:\0000318}}
  .services h2 {
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\000031}}
.Employers {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 26px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\000037}}
.Employer {
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  color: #222;
  overflow-wrap: break-word;
  padding: 15px 10px;
  width: 50%;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000316}}
.Employer:nth-of-type(even) {
  border-right: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000320}}
.Employer:nth-last-child(-n+2), .Employer:last-of-type {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000325}}
.Employer .icon {
  fill: #666;
  height: 25px;
  margin-top: 5px;
  width: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000332}}
.Employer h3 {
  color: #555;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}

@media screen and (min-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000343}}
  .Employers {
    margin-top: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000347}}
  .Employer {
    padding: 20px 10px;
    text-align: center;
    width: 33%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000352}}
  .Employer:nth-of-type(even) {
    border-right: 1px solid #bbb;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000356}}
  .Employer:nth-of-type(3n) {
    border-right: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000360}}
  .Employer:nth-last-child(-n+3) {
    border-bottom: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000367}}
  .Employer h3 {
    margin-top: 10px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 620px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000377}}
  .Employer {
    padding: 25px 10px;
    width: 25%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000381}}
  .Employer:nth-of-type(3n) {
    border-right: 1px solid #bbb;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000385}}
  .Employer:nth-last-child(-n+3) {
    border-bottom: 1px solid #bbb;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000389}}
  .Employer:nth-of-type(4n) {
    border-right: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000393}}
  .Employer:nth-last-child(-n+4) {
    border-bottom: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\0000397}}
  .Employer .icon {
    height: 35px;
    width: 35px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\00003102}}
  .Employer h3 {
    color: #555;
    font-size: .8em;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_employers\.scss}line{font-family:\00003113}}
  .Employer {
    padding: 30px 15px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_job-types\.scss}line{font-family:\000031}}
.JobTypes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_job-types\.scss}line{font-family:\000037}}
.JobType {
  margin-bottom: 60px;
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_job-types\.scss}line{font-family:\0000311}}
.JobType .icon {
  fill: #a9afbc;
  height: 55px;
  width: 55px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_job-types\.scss}line{font-family:\0000317}}
.JobType h3 {
  color: #A9AFBC;
  font-size: 16px;
  font-weight: 100;
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\000031}}
#finmekanik-arm,
#finmekanik-head,
#finmekanik-right,
#finmekanik-left {
  fill: #30353A;
  stroke: #dbb14e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\000039}}
#shape-finmekanik {
  fill: #DBB14E;
  stroke: #DBB14E;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000314}}
#shape-wrench,
#shape-cogs {
  fill: #D35160;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000319}}
#shape-prototype {
  fill: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000323}}
#prototype-tip,
#prototype-ruler {
  fill: #C6A243;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000328}}
#prototype-pen {
  fill: #D74E5E;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000332}}
#shape-jigg {
  fill: #927FC9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000336}}
#shape-computer {
  fill: #489FC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000340}}
#cnc-background {
  fill: #30353B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000344}}
#cnc-object {
  fill: #399DC6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000348}}
#shape-fixtur {
  fill: #CD6CA4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000352}}
#shape-triangle {
  fill: #3FA28C;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000356}}
#shape-pen-tool {
  fill: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000360}}
#shape-van {
  fill: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000364}}
#shape-lab,
#shape-home-visits {
  fill: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000369}}
#lab-liquid-1,
#lab-liquid-2,
#lab-liquid-3 {
  fill: #419EC4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000375}}
#shape-rocket {
  stroke: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000379}}
#lab-rack {
  stroke: #A9AFBD;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000383}}
#lab-glas {
  stroke: #A9AFBD;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\0000387}}
#jigg-head-top,
#jigg-head-bottom,
#jigg-bend,
#jigg-top,
#jigg-foot,
#jigg-middle-outer,
#jigg-middle-inner,
#jigg-arm,
#jigg-bottom {
  fill: #30353A;
  stroke: #927FC9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\00003100}}
#open-box-box,
#open-box-left,
#open-box-right {
  fill: #419EC4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_icons\.scss}line{font-family:\00003106}}
#open-box-open {
  fill: #30353B;
  stroke: #30353B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\000031}}
.WhatWeDo {
  background: #30353B;
  color: white;
  margin-top: 2em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\000038}}
.WhatWeDo header h2 {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\0000312}}
.WhatWeDo p {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

@media screen and (min-width: 740px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\0000321}}
  .WhatWeDo {
    padding: 60px 0;
    margin: 100px auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\0000326}}
  .how-item {
    float: left;
    width: 33.33%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\0000330}}
  .how-item:not(:last-of-type) {
    padding-right: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_how\.scss}line{font-family:\0000334}}
  .how-item:not(:first-of-type) {
    padding-left: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\000031}}
.images {
  background: #fff;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\000035}}
.images h3 {
  font-size: 1em;
  letter-spacing: 0.025em;
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000312}}
.image-container {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000315}}
.image-container a {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000320}}
.image-item {
  clear: none;
  margin-left: 0;
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 740px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000328}}
  .images h2 {
    margin-top: -20px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 840px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000336}}
  .images {
    padding-bottom: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000339}}
  .image-item {
    float: left;
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000345}}
  .row .image-item:nth-of-type(1), .row--additional .image-item:nth-of-type(1) {
    padding-right: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000349}}
  .row .image-item:nth-of-type(2), .row--additional .image-item:nth-of-type(2) {
    padding-left: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000356}}
.images-footer {
  margin: 15px 0 25px 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000362}}
.row--additional {
  display: none;
  opacity: 0;
  height: 0;
  transition: opacity 2s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_images\.scss}line{font-family:\0000369}}
.row--additional.is-shown {
  display: block;
  opacity: 1;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\000031}}
.contact {
  background: url("../img/banner.jpg");
  background-size: cover;
  color: #fff;
  padding: 3em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\000038}}
.contact header {
  margin: 0;
  margin-bottom: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000313}}
.contact h2 {
  font-size: 1.25em;
  letter-spacing: 0.1em;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000320}}
.contact-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000326}}
.contact-container ul {
  list-style: none;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000330}}
.contact-container ul .list-header {
  font-weight: 400;
}

@media screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000337}}
  .contact-container {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000342}}
  .contact-container ul {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000345}}
  .contact-container ul:first-of-type {
    margin-right: 150px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_contact\.scss}line{font-family:\0000349}}
  .contact-container ul .list-header {
    font-weight: 400;
    margin-top: 12px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_footer\.scss}line{font-family:\000031}}
#footer {
  background: #222;
  color: #ccc;
  padding: 3em 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_footer\.scss}line{font-family:\000037}}
#footer .copyright {
  font-size: 15px;
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_footer\.scss}line{font-family:\0000311}}
#footer .copyright li {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: dotted 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_footer\.scss}line{font-family:\0000317}}
#footer .copyright li:first-child {
  margin: 0;
  padding: 0;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/modules\/_footer\.scss}line{font-family:\0000323}}
#footer .copyright li strong {
  margin-left: 5px;
  font-family: "Times New Roman", serif;
  font-weight: 700;
}

/* Preload images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\000032}}
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\000037}}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000318}}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000328}}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -o-border-radius: 3px;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000336}}
.lightbox a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000340}}
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -o-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000351}}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000357}}
.lb-container {
  padding: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000361}}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000371}}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000379}}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000388}}
.lb-container > .nav {
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000392}}
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\0000397}}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003103}}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003113}}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003118}}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003128}}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003133}}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003142}}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003148}}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003153}}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003160}}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003166}}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003174}}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003187}}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/_lightbox\.scss}line{font-family:\00003193}}
.lightbox a {
  border: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/style\.scss}line{font-family:\0000322}}
footer button {
  background: none;
  border: solid 1px #222;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 20px;
  min-width: 18em;
  outline: none;
  padding: 0 0.75em;
  line-height: 3.75em;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/style\.scss}line{font-family:\0000341}}
footer button:active {
  background: #aaa;
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/style\.scss}line{font-family:\0000346}}
footer button:hover {
  background: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/style\.scss}line{font-family:\0000351}}
.google-maps {
  position: relative;
  padding-bottom: 30%;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/sass\/style\.scss}line{font-family:\0000357}}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
