/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\0000327}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\0000332}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\0000336}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\0000340}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\0000344}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_reset\.scss}line{font-family:\0000350}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_utilities\.scss}line{font-family:\000031}}
.u-hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_utilities\.scss}line{font-family:\000035}}
.u-group:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Centers the content inside a parent container width
 * The parent container must have position: relative.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_utilities\.scss}line{font-family:\0000315}}
.u-centerVertically {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\000031}}
html {
  box-sizing: border-box;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\000037}}
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4,
.wf-loading p, .wf-loading button, .wf-loading span {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000313}}
*, *:before, *:after {
  box-sizing: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000317}}
body {
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  font-weight: 300;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000330}}
.wrap, .About {
  margin: 0 auto;
  width: 80%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000338}}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
  margin-top: 0;
}

/**
 * Images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000350}}
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000358}}
figure > img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000362}}
figcaption {
  font-size: 0.7em;
}

/**
 * Lists
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000369}}
ul, ol {
  margin-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000374}}
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000383}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 600;
}

/**
 * Links
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000391}}
a {
  color: #222;
  text-decoration: none;
  transition: all .2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\0000396}}
a:active {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003100}}
a:hover {
  color: black;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003106}}
a:visited {
  color: #222;
}

/**
 * Blockquotes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003113}}
blockquote {
  color: #888;
  border-left: 4px solid #eee;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003121}}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003129}}
pre,
code {
  font-size: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #eef;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003137}}
code {
  padding: 1px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003141}}
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/init\/_base\.scss}line{font-family:\00003145}}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/modules\/_header\.scss}line{font-family:\000031}}
.Header {
  background: #222;
  height: 100px;
  line-height: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/modules\/_header\.scss}line{font-family:\000037}}
.Logo {
  color: #fafafa;
  font-family: "Times New Roman";
  font-size: 1.8em;
  font-weight: 900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/modules\/_about\.scss}line{font-family:\000031}}
.About {
  padding-top: 30px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/andersen\/dev\/sites\/pp-mekanik\/dev\/styles\/modules\/_about\.scss}line{font-family:\000036}}
.About h2, .About p {
  margin: 0 auto;
  max-width: 680px;
}
