.contact {
    background: url('../img/banner.jpg');
    background-size: cover;
    color: $color-three-fg;
    padding: 3em;
    text-align: center;
    
    header {
		margin: 0;
        margin-bottom: 2em;
    }

	h2 {
		font-size: 1.25em;
		letter-spacing: 0.1em;
		margin-top: 0;
	}
}

.contact-logo {
    font-family: "Times New Roman";
    font-weight: 900;
}

.contact-container {
    display: flex;
	flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;

    ul {
		list-style: none;
		width: 100%;

        .list-header {
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 600px) {
	.contact-container {
		flex-wrap: nowrap;
		justify-content: center;
		text-align: left;

		ul {
			width: auto;

			&:first-of-type {
				margin-right: 150px;
			}

			.list-header {
				font-weight: 400;
			}
		}
	}
}
