.Employers {
    display: flex;
    flex-wrap: wrap;
}

.Employer {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #222;
    padding: 15px 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: center;
    width: 33%;

    &:nth-of-type(3n) {
        border-right: none;
    }

    &:nth-last-child(-n+3) {
        border-bottom: none;
    }

    .icon {
        fill: #666;
        height: 25px;
        width: 25px;
    }

    h3 {
        color: #555;
        font-size: .7em;
        font-weight: 400;
        margin: 0;
        margin-top: 10px;
    }
}

@media screen and (min-width: 650px) {
	.Employer {
		padding: 20px 10px;
	}
}


@media screen and (min-width: 620px) {
	.Employer {
		padding: 25px 10px;
		width: 25%;

		&:nth-of-type(3n) {
			border-right: 1px solid #bbb;;
		}

		&:nth-last-child(-n+3) {
			border-bottom: 1px solid #bbb;;
		}

		&:nth-of-type(4n) {
			border-right: none;
		}

		&:nth-last-child(-n+4) {
			border-bottom: none;
		}

		.icon {
			height: 35px;
			width: 35px;
		}

		h3 {
			color: #555;
			font-size: .8em;
			font-weight: 400;
			margin: 0;
			margin-top: 10px;
		}
	}
}

@media screen and (min-width: 800px) {
	.Employer {
		padding: 30px 15px;
	}
}
