#footer {
    background: #222;
    color: #ccc;
    padding: 3em 0;
    text-align: center;
    
    .copyright {
        font-size: 15px;
        line-height: 1em;
        
        li {
            display: inline-block;
            margin-left: 1em;
            padding-left: 1em;
            border-left: dotted 1px;
            
            &:first-child {
                margin: 0;
                padding: 0;
                border: 0;
            }

			strong {
				margin-left: 5px;
				font-family: "Times New Roman", serif;
				font-weight: 700;
			}
        }
    }
}
