#finmekanik-arm,
#finmekanik-head,
#finmekanik-right,
#finmekanik-left {
    fill: #30353A;
    stroke: #dbb14e;
}

#shape-finmekanik {
    fill: #DBB14E;
    stroke: #DBB14E;
}

#shape-wrench,
#shape-cogs {
    fill: #D35160;
}

#shape-jigg {
    fill: #927FC9;
}

#shape-cnc {
    fill: #489FC2;
}

#shape-fixtur {
    fill: #CD6CA4;
}

#shape-prototype {
    fill: #3FA28C;
}

#shape-pen-tool {
    fill: none;
}

#shape-van {
    fill: none;
}

#shape-home-visits {
    fill: none;
}

#jigg-head-top,
#jigg-head-bottom,
#jigg-bend,
#jigg-top,
#jigg-foot,
#jigg-middle-outer,
#jigg-middle-inner,
#jigg-arm,
#jigg-bottom {
    fill: #30353A;
    stroke: #927FC9;
}
