#finmekanik-arm,
#finmekanik-head,
#finmekanik-right,
#finmekanik-left {
    fill: #30353A;
    stroke: #dbb14e;
}

#shape-finmekanik {
    fill: #DBB14E;
    stroke: #DBB14E;
}

#shape-wrench,
#shape-cogs {
    fill: #D35160;
}

#shape-prototype {
  fill: none;
}

#prototype-tip,
#prototype-ruler {
  fill: #C6A243;
}

#prototype-pen {
  fill: #D74E5E;
}

#shape-jigg {
    fill: #927FC9;
}

#shape-computer {
    fill: #489FC2;
}

#cnc-background {
  fill: #30353B;
}

#cnc-object {
  fill: #399DC6;
}

#shape-fixtur {
    fill: #CD6CA4;
}

#shape-triangle {
    fill: #3FA28C;
}

#shape-pen-tool {
    fill: none;
}

#shape-van {
    fill: none;
}

#shape-lab,
#shape-home-visits {
    fill: none;
}

#lab-liquid-1,
#lab-liquid-2,
#lab-liquid-3 {
  fill: #419EC4;
}

#shape-rocket {
  stroke: none;
}

#lab-rack {
  stroke: #A9AFBD;
}

#lab-glas {
  stroke: #A9AFBD;
}

#jigg-head-top,
#jigg-head-bottom,
#jigg-bend,
#jigg-top,
#jigg-foot,
#jigg-middle-outer,
#jigg-middle-inner,
#jigg-arm,
#jigg-bottom {
    fill: #30353A;
    stroke: #927FC9;
}
