.JobTypes {
    @extend .container;
    display: flex;
    flex-wrap: wrap;
}

.JobType {
    margin-bottom: 60px;
    width: 25%;

    .icon {
        fill: #a9afbc;
        height: 55px;
        width: 55px;
    }

    h3 {
        color: #A9AFBC;
        font-size: 16px;
        font-weight: 100;
        text-transform: none;
    }
}

