.services {
	background-color: white;
	color: #444;
	background-size: 10em;
	padding: 1.25em 1.5em;

	h2 {
		font-size: 1.25em;
		letter-spacing: 0.1em;
		line-height: 1.5em;
		margin-bottom: 1em;
		text-align: center;
	}
}
