@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
@import 'vars';
@import 'utils';
@import 'init/base';
@import 'modules/header';
@import 'modules/main';
@import 'modules/container';
@import 'modules/hero';
@import 'modules/services';
@import 'modules/job-types';
@import 'modules/how';
@import 'modules/images';
@import 'modules/contact';
@import 'modules/footer';
@import 'lightbox';

$pattern-background-size: 25em;

footer button {
	background: none;
	border: solid 1px #222;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 18em;
	outline: none;
	padding: 0 0.75em;
	line-height: 3.75em;
	transition: all 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:active {
		background: #aaa;
		color: #555;
	}

	&:hover {
		background: #eee;
	}
}

.google-maps {
    position: relative;
    padding-bottom: 30%;
    height: 500px;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

