@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

@import 'vars';
@import 'mixins';

$pattern-background-size: 25em;

/* Basic */

body, #skel-layers-wrapper {
    background: $color-bg;
}

body.is-loading * {
    @include vendor-property('animation', 'none !important');
    @include vendor-property('transition', 'none !important');
}

body, input, select, textarea {
    color: $color-fg;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

.u-hide {
    display: none
}

a {
    @include vendor-property('transition', 'color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out');
    color: darken($color-one-bg, 20);
    text-decoration: none;
    border-bottom: dotted 1px;
    
    &:hover {
        border-bottom-color: transparent;
    }
}

strong, b {
    font-weight: 400;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;	
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
    
    a {
        color: inherit;
        text-decoration: none;
        border: 0;
    }
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.15em;
    letter-spacing: 0.025em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px $color-border;
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em $color-border;
    font-style: italic;
    padding: 1em 0 1em 2em;
}

.special {
    text-align: center;
}


footer {
    > :last-child {
        margin-bottom: 0;
    }
    
    &.major {
        padding-top: 3em;
    }
}
	
/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		@include vendor-property('transition', 'background-color 0.2s ease-in-out, border-color 0.2s ease-in-out');
		@include vendor-property('appearance', 'none');
		background: none;
		border: solid 1px $color-border;
		color: inherit;
		display: block;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		outline: 0;
		
		&:focus {
			border-color: $color-one-bg;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {  
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {  
		color: transparentize($color-fg, 0.5) !important;
	}

/* Image */

	.image {
		border: 0;
		position: relative;
		
		&:before {
			background: url('images/overlay.png');
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		
		&.fit {
			display: block;

			img {
				display: block;
				width: 100%;
			}
		}
		
		&.featured {
			display: block;
			margin: 0 0 2em 0;
			
			img {
				display: block;
				width: 100%;
			}
		}
	}

/* Icon */

	.icon {
		@include icon;
		position: relative;

		&.circle {
			@include vendor-property('transition', 'all 0.2s ease-in-out');
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 2.25em;
		
			&:hover {
				top: -0.2em;
			}
		
			&.fa-twitter {
				background: $color-twitter-bg;
				color: $color-twitter-fg;
				
				&:hover {
					background: lighten($color-twitter-bg, 4);
				}
			}
		
			&.fa-facebook {
				background: $color-facebook-bg;
				color: $color-facebook-fg;

				&:hover {
					background: lighten($color-facebook-bg, 4);
				}
			}
		
			&.fa-google-plus {
				background: $color-google-plus-bg;
				color: $color-google-plus-fg;

				&:hover {
					background: lighten($color-google-plus-bg, 4);
				}
			}
		
			&.fa-github {
				background: $color-github-bg;
				color: $color-github-fg;

				&:hover {
					background: lighten($color-github-bg, 4);
				}
			}
		
			&.fa-dribbble {
				background: $color-dribbble-bg;
				color: $color-dribbble-fg;

				&:hover {
					background: lighten($color-dribbble-bg, 4);
				}
			}
		}
		
		&.featured {
			cursor: default;
			display: block;
			margin: 0 0 1.5em 0;
			opacity: 0.35;
			text-align: center;
			
			&:before {
				font-size: 5em;
				line-height: 1em;
			}
		}

		> .label {
			display: none;
		}
	}
	
/* List */

	ol {
		&.default {
			list-style: decimal;
			padding-left: 1.25em;

			li {
				padding-left: 0.25em;
			}
		}
	}

	ul {
		&.default {
			list-style: disc;
			padding-left: 1em;

			li {
				padding-left: 0.5em;
			}
		}
		
		&.icons {
			cursor: default;

			li {
				display: inline-block;
				line-height: 1em;
				padding-left: 0.5em;

				&:first-child {
					padding-left: 0;
				}
			}		
		}
		
		&.featured-icons {
			cursor: default;
			margin: -0.75em 0 0 0;
			opacity: 0.35;
			overflow: hidden;
			position: relative;

			li {
				display: block;
				float: left;
				text-align: center;
				width: 50%;
				
				.icon {
					display: inline-block;
					font-size: 6.25em;
					height: 1.25em;
					line-height: 1.25em;
					width: 1em;
				}
			}		
		}
				
		&.buttons {
			cursor: default;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				display: inline-block;
				padding: 0 0 0 1.5em;
			
				&:first-child {
					padding: 0;
				}
			}
			
			&.vertical {
				li {
					display: block;
					padding: 1.5em 0 0 0;
			
					&:first-child {
						padding: 0;
					}
				}
			}
		}
	}

/* Table */

	table {
		width: 100%;
	
		&.default {
			width: 100%;
		
			tbody {
				tr {
					border-bottom: solid 1px $color-border;
				}
			}
			
			td {
				padding: 0.5em 1em 0.5em 1em;
			}
			
			th {
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}
		
			thead {
				background: $color-fg;
				color: #fff;
			}
			
			tfoot {
			}
			
			tbody {
			}
		}
	}
		
/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	.button {
		@include vendor-property('appearance', 'none');
		@include vendor-property('transition', 'color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out');
		background: none;
		border: solid 1px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		min-width: 18em;
		padding: 0 0.75em;
		line-height: 3.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background: rgba(188,202,206,0.15);
			border-color: inherit;
		}
	
		&.special {
			background: $color-one-bg;
			border-color: $color-one-bg;
			color: $color-one-fg !important;
			
			&:hover {
				background: lighten($color-one-bg, 5) !important;
				border-color: lighten($color-one-bg, 5) !important;
			}
		}
		
		&.fit {
			width: 100%;
		}
		
		&.small {
			font-size: 0.7em;
			min-width: 14em;
			padding: 0.5em 0;
		}
	}

.images-footer {
    width: 100%;
}
	

	.wrapper {
		margin-bottom: 5em;
		padding: 5em;

		&.style1 {
			padding: 0;
		}
	
		&.style2 {
			background-color: white;
			//background-image: url('images/light-bl.svg'), url('images/light-br.svg');
			background-position: bottom left, bottom right;
			background-repeat: no-repeat, no-repeat;
			background-size: $pattern-background-size, $pattern-background-size;
			color: #444;

			.button {
				&:hover {
					background: rgba(255,255,255,0.15) !important;
				}

				&.special {
					background: $color-one-fg;
					border-color: $color-one-fg;
					color: $color-one-bg !important;
					
					&:hover {
						border-color: inherit !important;
						color: $color-one-fg !important;
					}
				}
			}
		}
		
		&.style3 {
			background: $color-two-bg;
			color: $color-two-fg;
		}
		
		&.style4 {
			background: $color-two-bg;
			color: $color-two-fg;
			padding: 4em;
		}
	}

    .image-container {
        overflow: hidden;

        a {
            border: none;
        }

        h3 {
            margin-top: 15px!important;
        }
    }

.header {
    background: #fafafa;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.175);
    color: #222;
    font-size: 0.8em;
    left: 0;
    height: 80px;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    
    .logo {
        display: inline;
        float: left;
        font-family: "Times New Roman", serif;
        font-size: 1.4em;
        font-weight: 900;
        line-height: 80px;
        margin: 0;
        text-transform: none;
    }
    
    nav {
        display: inline-block;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        float: right;
        line-height: 80px;
        
        ul {
            li {
                display: inline-block;
                margin-left: 1.5em;
                
                > ul {
                    display: none;
                }
                
                a {
                    border: solid 1px transparent;
                    color: inherit;
                    display: inline-block;
                    line-height: 1em;
                    padding: 0.6em 0.75em;
                    text-decoration: none;
                }
                
                input[type="button"],
                input[type="submit"],
                input[type="reset"],
                .button {
                    font-size: 1em;
                    min-width: 0;
                    width: auto;
                }
                
                &.submenu {
                    > a {
                        @include icon;
                        
                        &:before {
                            content: '\f107';
                            margin-right: 0.65em;
                        }
                    }
                }

                &.active,
                &:hover {
                    > a {
                        @include vendor-property('transition', 'all 0.2s ease-in-out');
                        background: rgba(188,202,206,0.15);
                    }
                }
                
                &.current {
                    > a {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

	
/* Main */

#main {
    background-image: url('images/dark-tl.svg'), url('images/dark-tr.svg'), url('images/dark-bl.svg'), url('images/dark-br.svg');
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: $pattern-background-size;
    padding: 7em 0;
    
    > :last-child {
        margin-bottom: 0;
    }

    .sidebar {
        section {
            border-top: solid 1px $color-border;
            margin: 3em 0 0 0;
            padding: 3em 0 0 0;
            
            &:first-child {
                border-top: 0;
                padding-top: 0;
                margin-top: 0;
            }
        }
    }
}

body.index #main {
    padding-top: 5em;
}

.job-types {
    display: flex;
    flex-wrap: wrap;
}

.job-type {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #222;
    padding: 30px 15px;
    width: 25%;

    &:nth-of-type(4n) {
        border-right: none;
    }

    &:nth-last-child(-n+4) {
        border-bottom: none;
    }

    .icon {
        fill: #444;
        height: 35px;
        width: 35px;
    }

    h3 {
        color: #555;
        font-size: .8em;
        font-weight: 400;
        margin: 0;
        margin-top: 10px;
    }
}
	
/* CTA */

#cta {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: $color-three-bg;
    background-image: url('images/light-tl.svg'), url('images/light-tr.svg'), url('images/overlay.png'), url('../images/banner.jpg');
    background-position: top left, top right, top left, bottom center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: $pattern-background-size, $pattern-background-size, auto, cover;
    color: $color-three-fg;
    padding: 5em;
    text-align: center;
    
    header {
        margin-bottom: 2em;
    }
}
	#sideButton {
		.toggle {
			@include icon;
			height: 100%;
			left: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			
			&:before {
				color: $color-navButton-fg;
				content: '\f039';
				font-size: 1em;
				height: 40px;
				left: 10px;
				line-height: 40px;
				opacity: 0.5;
				position: absolute;
				top: 11px;
				width: 60px;
				z-index: 1;
			}
			
			&:after {
				background: $color-navButton-bg;
				border-radius: 2px;
				content: '';
				height: 40px;
				left: 10px;
				position: absolute;
				top: 10px;
				width: 60px;
			}
		}
	}

	#topPanel,
	#sidePanel {
		background: $color-navPanel-bg;
		color: $color-navPanel-fg;
		font-size: 0.8em;
		letter-spacing: 0.075em;
		text-transform: uppercase;

		nav {
			padding: 0.25em 0.5em 1em 0.5em;
		}
		
		.link {
			border: 0;
			border-top: solid 1px transparentize($color-navPanel-fg, 0.95);
			color: inherit;
			display: block;
			height: 3em;
			line-height: 3em;
			opacity: 0.75;
			text-decoration: none;
			
			&.depth-0 {
				font-weight: 900;
			}
			
			&:first-child {
				border-top: 0;
			}
		}

		.indent-1 { display: inline-block; width: 1em; }
		.indent-2 { display: inline-block; width: 2em; }
		.indent-3 { display: inline-block; width: 3em; }
		.indent-4 { display: inline-block; width: 4em; }
		.indent-5 { display: inline-block; width: 5em; }
	}

#footer {
    background: #222;
    color: #bbb;
    padding: 5em 5em 10em 5em;
    text-align: center;
    
    .copyright {
        font-size: 0.8em;
        line-height: 1em;
        
        a {
            color: inherit;
        }
        
        li {
            display: inline-block;
            margin-left: 1em;
            padding-left: 1em;
            border-left: dotted 1px;
            
            &:first-child {
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
    }
}

.services h3 {
    font-weight: 400;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: left;

    ul {

        &:first-of-type {
            margin-right: 150px;
        }

        .list-header {
            font-weight: 400;
        }
    }
}

.google-maps {
    position: relative;
    padding-bottom: 45%; // This is the aspect ratio
    height: 300px;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
