.images {
	background: #fff;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.8);

	h3 {
		font-size: 1em;
		letter-spacing: 0.025em;
		margin-top: 15px;
	}
}

.images-container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: max-content;
  gap: 32px;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
}

.images-footer {
	margin: 15px 0 25px 0;
	width: 100%;
}

.additional-images-container {
	display: none;
	opacity: 0;
	height: 0;
	transition: opacity 2s ease-out;

	&.is-shown {
		display: block;
		opacity: 1;
		height: auto;
	}
}

@media screen and (min-width: 740px) {
  .images-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .images {
    padding-bottom: 20px;
  }
}

